/***********************************************
*   MEDIA QUERIES MIXIN
*   Description: Responsive Breakpoints
************************************************/

$extra-small: 480px;
$small: 768px;
$regular: 992px;
$large: 1200px;
$height: 43em;
$small-height: 40em;

@mixin respond($size) {
    @if $size == extraSmall {
        @media (max-width: $extra-small) {
            @content;
        }
    }
    @else if $size == mobile {
        @media (max-width: $small) {
            @content;
        }
    }
    @else if $size == tablet {
        @media (max-width: $regular) {
            @content;
        }
    }
    @else if $size == desktop {
        @media (max-width: $large) {
            @content;
        }
    }
    @else if $size == monitor {
        @media (min-width: $large) {
            @content;
        }
    }
    @else if $size == small-height {
        @media screen and (max-height: $height ) {
            @content;
        }
    }
    @else if $size == extra-small-height {
        @media screen and (max-height: $small-height ) {
            @content;
        }
    }
}