/***********************************************
*   MEDIA QUERIES MIXIN
*   Description: Responsive Breakpoints
************************************************/

$extra-small: 480px;
$small: 768px;
$regular: 992px;
$large: 1200px;

@mixin respond($size) {
    @if $size == extraSmall {
        @media (max-width: $extra-small) {
            @content;
        }
    }
    @else if $size == mobile {
        @media (max-width: $small) {
            @content;
        }
    }
    @else if $size == tablet {
        @media (max-width: $regular) {
            @content;
        }
    }
    @else if $size == desktop {
        @media (max-width: $large) {
            @content;
        }
    }
    @else if $size == monitor {
        @media (min-width: $large) {
            @content;
        }
    }
}