node_modules/
main.css
concise.css
prep/
credentials.json
tests/acceptance/reports
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
bundle.js
bundle.min.js
npm-debug.log