.button {
	border-radius: 0.4em;
	border: none;
	color: white;
	font-weight: 600;
	padding: 0.15em 0.3em 0.3em;
	margin: 0.2em;
	font-size: 0.9em;
}

.button.charcoal {
	@include charcoal-background;
	float: right;
	width: 6.5em;
	margin-top: 1em;
  	&:hover {
  		@include charcoal-hover;
  		color: white;
  	}
}

.button.red {
	@include red-background;
	float: right;
	width: 6.5em;
	margin-top: 1em;
  	&:hover {
  		@include red-hover;
  		color: white;
  	}
}

.button.blue {
	@include blue-background;
	border: 0.1em $primary solid;
  	&:hover {
  		@include blue-hover;
  	}
}

.button.grey {
	@include light-background;
	color: $dark-grey;
	border: 0.1em $light-grey solid;
	font-weight: 400;
	margin: 0.2em 0.2em 0 1em;
}
	
.button.blue.add-row {
	width: 30%;
  	padding: 0 0.4em;
	font-weight: 900;
	font-size: 12px;
	border: none;
}

.button.blue.add-row.units {
	margin: 1.6em 0.2em 0.2em;
}

.button.center {
	float: none;
  	display: inline-block;
  	width: 30%;
  	margin-top: 0;
}

.button.full {
	width: 100%;
  	margin: 0;
}

.add {
	padding: 0 0.4em;
	font-weight: 900;
	margin: 0em 0.2em 0.2em;
	font-size: 1em;
}

.close {
    color: white;
    font-size: 1.5em;
    float: right;
    padding: 0 1em;
    &:hover {
    	color: $light-grey;
    }
}
.close-date {
	font-size:1.5em;
	margin-left: 0.4em;
	color: black;
	margin-top:-0.8em;
	&:hover {
    	color: $light-grey;
    }
}
.delete {
	border: none;
 	color: #3C719D;
 	font-size: 0.9em;
 	padding: 0;
 	text-align: center;
 	&:hover {
 		color: #5293CA;
 	}
}

links {
	.button {
		display: inline-block;
		color: white;
	}
}

.warning {
  .button {
    margin-top: 0;
    position: relative;
    bottom: 1em;
  }
}

.close-warning {
	.button {
		bottom: 0;
	}
}
