input, select, textarea {
	  width: 100%;
  	border-radius: 0.3em;
  	border: 0.1em $light-grey solid;
  	padding: 0.15em 0.3em 0.3em;
  	background: white;
}

.push-right {
  padding-left: 0.8em
}

input, select, textarea {
  &[disabled] {
    border: none;
    background: $lightest-grey;
  }
}

input.job_no {
  border: none;
  background: $lightest-grey;
}

input.invalid {
 	border-color: red;
 	box-shadow: 0 0 10px red;
}

input.unit_id {
  display: none;
}

form.email-invite {
  display: inline-block;
  input {
    width: auto;
    padding: 0.2em 1em;
  }
}

.settings {
  padding: 1.5em 3em 4.5em;
  border-left: 0.1em $light-grey solid;
  height: 20em;
  .name {
    width: 50%;
    display: inline-block;
  }
  input[name="first_name"], input[name="last_name"] {
    width: 50%;
  }
}

.display-none {
  display: none;
  visibility: hidden;
}

searchbox{
  padding-top: 0.3em;
  input[type="text"]{
    width: 67%;  
  }
  img{
      width: 1em;
  }
  input[type="submit"]{
    width: 30%;
  }
}

datepicker{
  div{
    input[type="date"]{
      margin-bottom:0.5em;

    }
  }
}

.booking-note {
  float: center;
  border: 0.1em $light-grey solid;
  @include box-shadow;
}

.email {
  .panel-body {
    height: 6em;
    text-align: center;
  }
  input[name="email"] {
    width: 80%;
    margin-top: 1em;
  }
}

.border-bottom {
  border-bottom: 0.1em $light-grey solid;
}

.row.units {
    margin: 0 -0.9em;
}

units {
  border-top: 0.4em $light-grey solid;
  border-right: 0.4em white solid;
  border-bottom: 0.4em white solid;
  border-left: 0.4em $light-grey solid;
  background-color: #F7F6F6;
  padding: 0 0.5em 0.3em;
  margin-top: 0.4em;
  input, select, textarea {
    &[disabled] {
      border: none;
      background-color: #F7F6F6;
    }
  }
}

invoice {
    margin: 0.2em 0;
}
