svg.ledger {
	height: 25px;
	width: 25px;
	margin: 0 auto;
  	display: block;
	&.unactive {
		fill: white;
		stroke: $primary;
	}
	&.active {
		fill: $primary;
	}
}

.align-center {
	text-align: center;
}

svg.bell {
	width: 3em;
	path {
	stroke: $primary;
	stroke-width: 3;
	fill: white;
		&.urgent {
			fill: red;
			opacity: 0.7;
			stroke: red;
		}
		&.present {
			fill: $primary;
		}
	}
}