/***********************************************
*   NAV BAR
*	
************************************************/

nav {
	img {
		 height: 1.5em;
		 display: inline-block;
		 margin: 0.2em 0.5em -0.2em 2em;
	}
	h5 {
		display: inline-block;
		color: white;
		position: relative;
  		top: -0.2em;
	}
	li {
		width: 22%;
		padding-right: 3%;
		display: inline-block;
		margin-right: 0;
		text-align: center;
		@include blue-border;
		@include blue-background;
		&:hover {
			@include blue-hover;
		}
		&.state {
			@include blue-hover;
		}
	}
	li.active {
		color: red;
		@include blue-hover;
	}
	@include respond(desktop) {
		li {
			width: 30%;
		}
	}
	@include respond(tablet) {
		li {
			width: 33.33%;
		}
		h5 {
			display: inline-block;
		}
	}
	@include respond(mobile) {
		img {
			display: none;
			visibility: hidden;
		}
		h5 {
			display: inline-block;
			color: white;
	  		top: 0;
		}
	}
}

.setting-nav {
	padding: 1.5em 3em 4.5em;
	
}