/***********************************************
*   DATA TABLE
*	Description: Colour variables
************************************************/

table.table th, table.table td {
  padding: 0.5em;
}

td {
	&.green{
		background-color: rgb(119, 76, 158);
		opacity: 0.4;
	}	
	border-right: 0.1em $light-grey solid;
	border-left: 0.1em $light-grey solid;
	background: white;
	p {
		color: $dark-grey;
	}
}

th {
	@include light-background;
}

.container.booking-note table {
	border: 0.1em $light-grey solid;
	width: 100%;
	tr {
		border-bottom: 0.1em $light-grey solid;
	}
}



.warning {
  table {
    border-bottom: 0.1em $light-grey solid;
    p {
      margin-top: 0;
    }
  }
}
