/***********************************************
*   COLOURS
*	Description: Colour variables
************************************************/

.row {
	margin: 0;
}
.title {
	text-align: center;
	background-color: $light;
	border-left: 0.1em white solid;
	border-right: 0.1em white solid;
	margin-top: 2em;
	h4 {
		display: inline-block;
		margin: 0.7em;
		color: $dark;
		font-weight: 600;
	}
}
.listed-result {
	text-align: center;
	div {
		border-left: 0.1em $light solid;
		border-right: 0.1em $light solid;
		border-top: 0.1em $light solid;
	}
	p {
		margin: 0.9em;
		color: $dark-grey;
	}
}

.hidden {
	div {
		border-left: 0.1em $light solid;
		border-right: 0.1em $light solid;
		background-color: $light-grey;
		padding: 0.2em;
	}
	p {
		margin: 0.1em 0.2em;
		color: $dark-grey;
	}
	span {
		color: $charcoal;
		font-weight: 600;
	}
}