input, select, textarea {
	   width: 100%;
  	border-radius: 0.3em;
  	border: 0.1em $light-grey solid;
  	padding: 0.15em 0.3em 0.3em;
  	background: white;
}

input,textarea {
  &.view_input {
    background: $light-grey;
    &.edit {
    	background: white;
    }
  }
}
input.job_no {
    background: $light-grey;
 }

select.view_input {
  	background: $light-grey;
  	&.edit {
  		background: white;
  	}
 }
input.invalid {
 	border-color: red;
 	box-shadow: 0 0 10px red;
 }

input.big {
	height: 5.5em;
}
input.unit_id {
  display: none;
}

form.email-invite {
  display: inline-block;
  input {
    width: auto;
    padding: 0.2em 1em;
  }
}

form.account {
  padding: 1.5em 3em 4.5em;
  border-left: 0.1em $light-grey solid;
  .name {
    width: 50%;
    display: inline-block;
  }
  input[name="first_name"], input[name="last_name"] {
    width: 50%;
  }
}

.display-none {
  display: none;
  visibility: hidden;
}