.model-generic {
	border-radius: 0.2em;
  	overflow: hidden;
  	@include box-shadow;
	div.panel-header {
		@include blue-background;
	}
	div.panel-body {
		background: $lightest-grey;
		border: 0.1em $light-grey solid;
		max-height: 25em;
  		overflow: scroll;
		p {
			margin-top: 0.7em;
		}
	}
}

.model-middle {
	top: 35%;
  	position: absolute;
  	div.panel-body {
  		padding: 0 1em 2em 1em;
  	}
}

p.small {
  	font-size: 0.7em;
  	display: inline;
  	padding-left: 0.7em;
}