/***********************************************
*   NAV BAR
*	
************************************************/

.nav-responsive {
	img {
		 height: 1.5em;
		 display: inline-block;
		 margin: 0.2em 0.5em -0.2em 2em;
	}
	h5 {
		display: inline-block;
		padding: 0.2em 2em 0 0;
		color: white;
		position: relative;
  		top: -0.2em;
	}
	li {
		display: inline-block;
		margin-right: 0;
		@include blue-border;
		@include blue-background;
		&:hover {
			@include blue-hover;
		}
	}
}