/***********************************************
*   RESET
*	Description: to reset or normalise
************************************************/

//BASIC RESETS
body, html {
	height: 100%;
	width: 100%;
}

h1, h2, h3, h4, h5, h6, p ,input, select, option, textarea {
	font-family: $font;
	margin: 0;
}

h1 {
	@include company-name;
}

h2 {
	@include page-title;
}

h3 {
	@include page-title;
	font-size: 1.2em;
	margin-left: 1em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 1em;
	font-weight: 600;
	color: $charcoal;
}

h6 {
	font-size: 0.9em;
}

p {
	font-size: 0.9em;
	color: $grey;
}

input, textarea {
	font-size: 0.9em;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.column-6 {
	@include respond(mobile){ 
		width: 60%;
		float: left;
	}
}

.no-margin {
	margin: 0 !important;
}

.no-gutter {
	margin-left: 0 !important;
}