{{#extend "layout"}}

	{{#content "main" mode="append"}}
		<div class="column-16">

		  	<div class="data">
		  		<table>
		  		{{#each data}}
		  			<tr>
			  			<td>{{bookingRef}}</td>
			  			<td>{{client}}</td>
			  			<td>{{loadingPlace}}</td>
			  			<td>{{deliveryPlace}}</td>
			  			<td>{{containerType}}</td>
			  			<td>{{commodityDesc}}</td>
			  			<td>{{collectionTime}}</td>
			  			<td>{{additionalInfo}}</td>
			  			<td>{{shipper}}</td>
			  			<td>{{consignee}}</td>
			  		</tr>
			  	{{/each}}
			  	</table>
		  	</div>

		</div>
	{{/content}}

{{/extend}}