{{#extend "layout"}}

	{{#content "main" mode="append"}}
		<div class="column-6 push-5 model-generic model-middle">
			<div class="panel-header">
				<h2>Login</h2>
			</div>
			<div class="panel-body">
				<!-- <form> -->
					<p>Username</p>
					<input type="text" name="username">
					<p>Password</p>
					<input type="text" name="password">
					<input type="checkbox" name="remember"><p class="small">Remember me</p>
					<!-- a tag to be removed once authentication and form submit are set up-->
					<a href="/orders">
						<input type="submit" class="button charcoal" value="Login">
					</a>
				<!-- </form> -->
			</div>
		</div>
	{{/content}}

{{/extend}}