{{#extend "layout"}}
	
	{{#content "overlay" mode="append"}}
		<div class="overlay">
			<div class="column-10 push-3 model-generic">
				<div class="panel-header">
					<h2></h2>
				</div>
				<div class="panel-body">
					<form action="/order/new" method="POST">
						<p>Reference number</p>
						<input type="text" name="referenceNumber">
						<p>Date</p>
						<input type="text" name="date">
						<p>Consignee</p>
						<input type="text" name="consignee">
						<p>Loading place</p>
						<input type="text" name="loadingPlace">
						<p>Delivery place</p>
						<input type="text" name="deliveryPlace">
						<p>Container type/vehicle</p>
						<input type="text" name="containerType">
						<p>Reference</p>
						<input type="text" name="reference">
						<p>Commodity description</p>
						<input type="text" name="commodityDescription">
						<p>Collection time</p>
						<input type="text" name="collectionTime">
						<p>Shipper</p>
						<input type="text" name="shipper">
						<p>Notify</p>
						<input type="text" name="notify">
						<p>Additional information</p>
						<input type="text" name="additionalInformation">
						<p>Contact details</p>
						<input type="text" name="contactDetails">
						<input type="submit" class="button charcoal" value="Done">
					</form>
				</div>
			</div>
		</div>
	{{/content}}

{{/extend}}