{{#extend "layout"}}
	
	{{#content "header" mode="append"}}
		<a href="/login">
			<p>Logout</p>
		</a>
		<p>Welcome {username}</p>
	{{/content}}

	{{#content "nav" mode="append"}}
		<div class="row nav">
			<div class="column-3 push-2">
				<a href="">
					<img src="./img/nav/shipping.png">
					<br>
					<p>Orders</p>
				</a>
			</div>
			<div class="column-3 push-2">
				<a href="">
					<img src="./img/nav/booking.png">
					<p>Booking notice</p>
				</a>
			</div>
			<div class="column-3 push-2">
				<a href="">
					<img src="./img/nav/list.png">
					<p>Client</p>
				</a>
			</div>
			<div class="column-3 push-2">
				<a href="">
					<img class="xero" src="./img/nav/xero.png">
				</a>
			</div>
		</div>
	{{/content}}

	{{#content "main" mode="append"}}

		<div class="column-14 push-1 model-generic">
			<div class="panel-header">
				<h3>Orders</h3>
				<!-- TODO: search bar here -->
			</div>

			<div class="panel-body table-responsive">
				<table class="table table-full">
					<th><h5>#</h5></th>
					<th><h5>Reference</h5></th>
					<th><h5>Date</h5></th>
					<th><h5>Consignee</h5></th>
					<th><h5>Loading Place</h5></th>
					<th><h5>Delivery Place</h5></th>
				
				  	{{#each data}}
				  		<tr>
				  			<td><p>1</p></td>
							<td><p>{{bookingRef}}</p></td>
							<td><p>{{date}}</p></td>
							<td><p>{{client}}</p></td>
							<td><p>{{loadingPlace}}</p></td>
							<td><p>{{deliveryPlace}}</p></td>
						</tr>
					{{/each}}
				</table>
			</div>
		</div>



		<div class="row">
			<form action="/orders/new" method="POST">
				<input type="text" name="date" placeholder="Date">
				<input type="text" name="consignee" placeholder="Consignee">
				<input type="text" name="loadingPlace" placeholder="Loading place">
				<input type="text" name="deliveryPlace" placeholder="Delivery place">
				<!-- <input type="text" placeholder="Container type/vehicle">
				<input type="text" placeholder="Reference">
				<input type="text" placeholder="Commodity description">
				<input type="text" placeholder="Collection time">
				<input type="text" placeholder="Shipper">
				<input type="text" placeholder="Notify">
				<input type="text" placeholder="Additional information">
				<input type="text" placeholder="Contact details"> -->
				<input type="submit" value="submit">
			</form>
		</div>

	{{/content}}

{{/extend}}