{{#extend "layout"}}

	{{#content "main" mode="append"}}

		<div class="row search-bar">
			<!-- TODO: search bar here -->
		</div>


		<div class="row">
			<form action="/orders/new" method="POST">
				<input type="text" name="date" placeholder="Date">
				<input type="text" name="consignee" placeholder="Consignee">
				<input type="text" name="loadingPlace" placeholder="Loading place">
				<input type="text" name="deliveryPlace" placeholder="Delivery place">
				<!-- <input type="text" placeholder="Container type/vehicle">
				<input type="text" placeholder="Reference">
				<input type="text" placeholder="Commodity description">
				<input type="text" placeholder="Collection time">
				<input type="text" placeholder="Shipper">
				<input type="text" placeholder="Notify">
				<input type="text" placeholder="Additional information">
				<input type="text" placeholder="Contact details"> -->
				<input type="submit" value="submit">
			</form>
		</div>

		<div class="row">

			<div class="title column-4 push-2">
				<h4>Ref</h4>
			</div>
			<div class="title column-4 push-2">
				<h4>Client</h4>
			</div>
			<div class="title column-4 push-2">
				<h4>Date</h4>
			</div>
		</div>
				
	  	{{#each data}}
	  		<div class="row listed-result">
  				<div class="column-4 push-2">
					<p>{{bookingRef}}</p>
				</div>
				<div class="column-4 push-2">
					<p>{{client}}</p>
				</div>
				<div class="column-4 push-2">
					<p>{{date}}</p>
				</div>
			</div>
			<div class="row hidden">
	  			<div class="column-12 push-2">
	  				<p><span>Loading Place:</span> {{loadingPlace}}</p>
	  				<p><span>Delivery Place:</span> {{deliveryPlace}}</p>
	  				<p><span>Container Type:</span> {{containerType}}</p>
	  				<p><span>Commodity Description:<span> {{commodityDesc}}</p>
	  				<p><span>Collection Time:</span> {{collectionTime}}</p>
	  				<p><span>Additional Info:</span> {{additionalInfo}}</p>
	  				<p><span>Shipper:</span> {{shipper}}</p>
	  				<p><span>Consignee:</span> {{consignee}}</p>
	  			</div>
		  	</div>
		  	{{/each}}

	{{/content}}

{{/extend}}