/***********************************************
*   COLOURS
*	Description: Colour variables
************************************************/

$primary: #49A4A5;
$dark: #0A2239;
$light: #BEE9E8;

$charcoal: #1C1C1C;
$grey: #6D8397;
$light-grey: #D8D7D7;
$dark-grey: #3C444A;