/***********************************************
*   COLOURS
*	Description: Colour variables
************************************************/

$primary: #49A4A5;
$dark: #369394;
$light: #65DDDF;

$charcoal: #282828;
$dark-grey: #434343;
$grey: #6E6E6E;
$light-grey: #D8D8D8;
$lightest-grey: #FAFAFA;


@mixin blue-background {
  	background-color: $primary;
  	background-image: linear-gradient($light, $primary);
}

@mixin blue-hover {
    background-color: $light;
    background-image: linear-gradient($light, #56C9CB);
}

@mixin charcoal-background {
  	background-color: $charcoal;
  	background-image: linear-gradient($charcoal, $dark-grey);
}

@mixin charcoal-hover {
  	background-color: $dark-grey;
  	background-image: linear-gradient($dark-grey, $grey);
}

@mixin grey-background {
  	background-color: $grey;
  	background-image: linear-gradient($light-grey, $grey);
}

@mixin light-background {
  	background-color: $lightest-grey;
  	background-image: linear-gradient($lightest-grey, $light-grey);
}