/***********************************************
*   HEADER
*	
************************************************/

header {
	// fallback background for old browsers
  	background-color: $primary;
  	background-image: linear-gradient($light, $primary);
	p {
		color: $light;
	}
}