/***********************************************
*   HEADER
*	
************************************************/

header {
	background-color: $primary;
	color: white;
	h1 {
		color: white;
		margin: 0.2em 1em;
	}
	img {
		width: 100%;
	}
}